<% provide(:title, "ログイン") %>
<h1>ログイン</h1>

<div class="row">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "メールアドレス" %><br>
      <%= f.email_field :email, class: "user_form" %><br>

      <%= f.label :password, "パスワード" %><br>
      <%= f.password_field :password, class: "user_form" %><br>
      
      
      <%= f.submit "ログイン", class: "btn user_form" %>
    <% end %>

    <p>初めての方は <%= link_to "こちら", signup_path %></p>
</div>