<%= form_for(@user) do |f| %>
     <%= render 'shared/errors', object: f.object %>
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "user_form" %><br>

      <%= f.label :email %><br>
      <%= f.email_field :email, class: "user_form" %><br>
      

      <%= f.label :password %><br>
      <%= f.password_field :password, class: "user_form"  %><br>

      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, class: "user_form" %><br>

      <%= f.submit yield(:button_text), class: "btn user_form" %>
<% end %>
