<% provide(:title, "詳細") %>
<h1>ユーザー詳細ページ</h1>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<%= link_to "編集", edit_user_path(@user) %> | 
<%= link_to "削除", @user, method: :delete, data: { confirm: "本当に削除しますか？" } %>