<h2>家計簿アプリの使い方</h2>

<div class="about" id="about_top">
<h3>1.<%= link_to '新規追加', new_account_path %></h3>
<p>家計簿を<strong>新規追加</strong>できます。</p>
</div>

<div class="about">
<h3>2.<%= link_to '家計簿一覧', accounts_path %></h3>
<p>作成した家計簿が<strong>一覧表示</strong>され、それらの<strong>検索・編集・削除</strong>も行えます。</p>
<p>カテゴリ名のリンクをクリックするとその詳細が表示され、さらにそのカテゴリの家計簿が一覧表示されます。</p>
</div>

<div class="about">
<h3>3.<%= link_to '月ごとの詳細', "/months" %></h3>
<p>作成した家計簿を<strong>月ごとに分け</strong>、その数を表示します。</p>
<p>リンクをクリックするのその月の<strong>家計簿・合計金額</strong>を確認できます。</p>
</div>

<div class="about">
<h3>4.<%= link_to 'カテゴリ追加', new_category_path %></h3>
<p>カテゴリを新たに追加できます。</p>
<p>家計簿を<strong>カテゴリ分け</strong>するのに役立ちます。</p>
</div>

<div class="about">
<h3>5.<%= link_to 'カテゴリ一覧', categories_path %></h3>
<p>作成したカテゴリの<strong>名前・詳細</strong>が一覧表示され、それらの<strong>編集・削除</strong>も行えます。</p>
<p>名前のリンクをクリックするとその詳細が表示され、さらにそのカテゴリの家計簿が一覧表示されます。</p>
</div>
<br><br>

      

      