// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_account {
  margin-top: 20px;
}
.about {
  margin: 35px 0;
}

#about_top {
  margin-top: 0px;
}
.month_count {
  margin-top: 8px;
}
.count_top {
  margin-bottom: -10px;
}