// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#category_table {
    border: 1px solid #CCC;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    th {
        background-color: #CCC;
    }
    td {
        padding: 4px;
    }
}
.form_account {
  margin-top: 20px;
}