#wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
a {
  text-decoration: none;
}

nav {
    height: 24px;
    background-color: #CCC;
    a {
    margin: 0 15px;
    font-weight: strong;
    font-size: 14px;
    }
}

.table_first {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    border: 1px solid #CCC;
    border-collapse: collapse;

    th {
        background-color: #CCC;
    }
    td {
        padding: 4px;
    }
}
.account_search {
  margin-bottom: -5px;
}



.flash {
  padding-top: 5px;
  color: green;
  font-size: 17px;
}

#error_explanation {
  margin-top: 20px;
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.user_form {
  border: 1px solid #bbb;
  width: 40%;
  margin-bottom: 15px;
}
textarea {
  min-height: 50px;
}

input {
  height: auto !important;
}
.btn {
  width: 150px;
}

.header {
    width: 90%;
    height: 80px;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B0E0E6;
    li {
      font-size: 20px;
    }
}
.headerLeft,
.headerNav {
    display: flex;
    align-items: center;
    list-style: none;
    li {
      float: left;
    }
}
.move-left {
  margin-left: -30px;
}

.headerRight p{
    display: inline-block;
}
.headerLogo {
    font-size: 30px;
    margin-right: 20px;
}
.headerNav li{
    padding: 0 10px;
}
.headerRight a {
    margin-left: 10px;
}

