<%= form_for(@category) do |f| %>
<%= render partial: 'shared/errors', locals:{object: @category} %>

    <p class="form_category">
      <%= f.label :title %><br>
      <%= f.text_field :title, placeholder: "(例)食費" %>
    </p>
    
    <p class="form_category">
      <%= f.label :body %><br>
      <%= f.text_area :body, placeholder: "説明事項があれば記入", size: "40" %>
    </p>
    
    <p class="form_category">
      <%= f.submit "実行" %>
    </p>
<% end %>