<% provide(:title, "カテゴリ一覧") %>

<% if @categories.any? %>
<h1>カテゴリ一覧</h1>
  <table id="category_table">
    <thead>
      <tr>
        <th>名前</th>
        <th>説明</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= link_to category.title, category %></td>
          <td><%= category.body %></td>
          <td><%= link_to '編集', edit_category_path(category) %></td>
          <td><%= link_to '削除', category, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
        </tr>
     <% end %>
    </tbody>
  </table>
<% else %>
<h2>まだカテゴリがありません。</h2>
<% end %>