<% provide(:title, "カテゴリ詳細") %>

<p>
  <strong>名前:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>説明:</strong>
  <%= @category.body %>
</p>
<br>

<%= link_to '編集', edit_category_path(@category) %> |
<%= link_to 'カテゴリ一覧', categories_path %>
<br><br>
<% if @accounts.any? %>
  <h3>「<%= @category.title %>」の家計簿一覧</h3>
  <%= render 'accounts/accounts_form' %>
  <br>
  <%= render 'accounts/sum' %>
<% end %>