<header class="header">
        <div class="headerLeft">
            <h1 class="headerLogo">家計簿アプリ</h1>

            <ul class="headerNav">
                <div class="move-left">
                    <% if current_user %>
                        <li><%= link_to "Home", root_path %></li>
                    <% end %>
                <li><%= link_to "About", about_path %></li>
                </div>
            </ul>
        </div>
        <div class="headerRight">
            <% if current_user %>
                <%= link_to current_user.name, current_user %>
                <%= link_to "ログアウト", logout_path, method: :delete %>
            <% else %>
                <%= link_to "新規登録", signup_path %>
                <%= link_to "ログイン", login_path %>
            <% end %>
        </div>
</header>
