<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <div id="wrapper">
      
    <%= render 'layouts/header' %>
     
    <% if current_user %>
      <nav>
        <%= link_to '新規追加', new_account_path %>
        <%= link_to '家計簿一覧', accounts_path %>
        <%= link_to '月ごとの詳細', "/months" %>
        <%= link_to 'カテゴリ追加', new_category_path %>
        <%= link_to 'カテゴリ一覧', categories_path %>
      </nav>
    <% end %>

    
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
