<%= yield %>


<p class="form_account">
<%= select_tag :year,
    options_for_select(("2015".."2019").to_a, selected: Date.today.year) %>年  

<%= select_tag :month,
    options_for_select(("1".."12").to_a, selected: Date.today.month) %>月
    
<%= select_tag :date,
    options_for_select(("1".."31").to_a, selected: Date.today.day) %>日
    
<% youbi = %w[日 月 火 水 木 金 土] %>
<%= select_tag :week,
    options_for_select(youbi, selected: youbi[Date.today.cwday]) %>曜日
</p>