<table class="table_first">
    <thead>
    <tr>
        <th>日付</th>
        <th>支出</th>
        <th>カテゴリ</th>
        <th>詳細</th>
        <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    
    <% @accounts.each do |account| %>
    <tr>
        <td><%= "#{account.year}年 #{account.month}月 #{account.date}日 #{account.week}曜日"%></td>
        <td><%= "#{account.money}円" %></td>
        <td><%= link_to account.category.try(:title), "/accounts/category/#{account.category_id}" %></td>
        <td><%= account.body %></td>
        <td><%= link_to "編集", edit_account_path(account) %></td>
        <td><%= link_to "削除", account, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
    </tr>
    <% end %>
    
    </tbody>
</table>