<% if @accounts.any? %>
<h1>家計簿一覧</h1>

<!--  検索拡張機能  -->
<p class="account_search">詳細検索</p>
<%= form_tag(accounts_path, :method => 'get' ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil %>
<% end %>
<br>
<%= render "accounts_form" %>
<br>

<%= render 'sum' %>

<% else %>
<h2>まだ家計簿がありません。</h2>
<% end %>
