<% provide(:title, "月別") %>
<h2 class="count_top">月ごとの作成数</h2>
<ul>
<% (1..12).each do |i| %>
  <li class="month_count"><%= link_to "#{i}月", "/months/#{i}" %> (<%= current_user.accounts.where(month:i).count %>)</li>
<% end %>  
</ul>  
<br><br>