<% provide(:title, "新規") %>

<%= form_for(@account) do |f| %>
<%= render partial: 'shared/errors', locals:{ object: @account } %>

<p class="form_account">
<%= select_tag :year,
    options_for_select(("2015".."2019").to_a, selected: Date.today.year) %>年  

<%= select_tag :month,
    options_for_select(("1".."12").to_a, selected: Date.today.month) %>月
    
<%= select_tag :date,
    options_for_select(("1".."31").to_a, selected: Date.today.day) %>日
    
<% youbi = %w[日 月 火 水 木 金 土] %>
<%= select_tag :week,
    options_for_select(youbi, selected: youbi[Date.today.cwday]) %>曜日
</p>

<p class="form_account">
    <% @categories = current_user.categories.where(user_id: current_user.id) %>
    <%= f.label :category %>
    <%= select :account, :category_id, @categories.map{|t| [t.title, t.id]} %>
</p>
<p class="form_account">
      <%= f.label :body %><br>
      <%= f.text_area :body, placeholder: "説明事項があれば記入", size: "40" %>
</p>

<p class="form_account">
<%= f.text_field :money, placeholder: "金額" %>円
</p>

<p class="form_account">
 <%= f.submit "実行" %>
</p>
<% end %>
