<% provide(:title, "月別") %>
<% if @accounts.any? %>
  <h1><%= @account.month %>月の詳細</h1>
  <%= render 'accounts_form' %>
  <br>
  <%= render 'sum' %>
  <br>
  <%= link_to "戻る", "/months" %>
<% else %>
  <h2>まだ家計簿がありません。</h2>
  <%= link_to "戻る", "/months" %> | 
  <%= link_to "新規追加", new_account_path %>
<% end %>
