<% provide(:title, "詳細") %>
<h1>詳細ページ</h1>
<p>
  <strong>日付:</strong>
  <%= "#{@account.year}年 #{@account.month}月 #{@account.date}日 #{@account.week}曜日"%>
</p>

<p>
  <strong>金額:</strong>
  <%= @account.money %>円
</p>

<p>
  <strong>カテゴリ:</strong>
  <%= @account.category.try(:title) %>
</p>
<p>
  <strong>詳細:</strong>
  <%= @account.body %>
</p>


<%= link_to "家計簿一覧へ", accounts_path %>